<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springday.lifeShare.dao.UsersMapper">

	<resultMap type="com.springday.lifeShare.vo.Users" id="UsersMap">
	
	      <id column="ID" property="id" />
	      <id column="PASSWORD" property="password" />
	      <id column="PHONE" property="phone" />
	      <id column="NAME" property="name" />
	      <id column="LEVEL" property="level" />
	   </resultMap>
	   
	    <select id="getUsers" resultMap="UsersMap">
			select ID,PASSWORD,PHONE,NAME,LEVEL from USERS  
	     	</select>
</mapper>