<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lifeShare.dao.UsersMapper">
	<resultMap type="lifeShare.dto.Users" id="users_resultMap">		
		<result column="ID" property="id" />
		<result column="PASSWORD" property="password" />
		<result column="PHONE" property="phone" />
		<result column="NAME" property="name" />
		<result column="LEVEL" property="level" />
	</resultMap>
	<select id="getUsers" resultMap="users_resultMap">
		select id,password,phone,name,level from USERS 
	</select>
	
</mapper>